   <%# CSS・・・assets/stylesheets/shared/header.css %>
   <div class='font'>
   <div class='second-header-content'>
     <%= link_to image_tag("logo_black.png", class:"clotheseal2-icon"), "/" %>
   </div>
   </div>