<div class='font'>
<div class="margin">
<div class="content_post">
<%= image_tag cloth.image %>
  <span class="name">
      <%= cloth.wear_day %>
  </span>
</div>
<div class='line'>
      <%= link_to '編集', edit_cloth_path(cloth.id), method: :get, class:'edit' %>
      <%= link_to '削除', cloth_path(cloth.id), method: :delete, class:'edit'%>
  </div>
</div>
</div>